<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Products</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="!authenticated"><a  routerLink="/authenticationSection">Authentication</a></li>
        <li routerLinkActive="active" *ngIf="authenticated"><a  routerLink="/products">Products</a></li>
        <li routerLinkActive="active" *ngIf="authenticated"><a  routerLink="/shopping-list-items">Shopping List</a></li>
        <li routerLinkActive="active" *ngIf="authenticated"><a href="#">Graphs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authenticated">
          <a style="cursor: pointer;" (click)="logoutFunc()">Logout</a>
        </li>
        <li class="dropdown" *ngIf="authenticated">
          <a class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  style="cursor: pointer;" >Save Data</a></li>
            <li><a  style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

