<h1>Graph Pages</h1>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" type="submit" routerLinkActive="active" routerLink="/statistic">Monthly Profits</button> |
    <button class="btn btn-primary" type="submit" routerLinkActive="active" routerLink="/bar-graph">User Login Time</button> |
    <button class="btn btn-primary" type="submit" routerLinkActive="active" routerLink="/pie-graph">Card/Cash Sales</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" type="submit" routerLinkActive="active" routerLink="/adminSection">Admin</button>
  </div>
</div>
