<!--<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let property of properties; let i = index"
        (click)="onEditItem(i)"
      >
        {{ property.name }} ({{ property.amount }})
      </a>
    </ul>
  </div>
</div>-->
<!--
<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let product of products; let i = index"
        (click)="onEditItem(i)"
      >
        {{ product.name }} ({{ product.price }}) ({{product.imagePath}})
      </a>
    </ul>
  </div>
</div>
-->

<div class="row">
  <div class="col-xs-12">
    <app-product-item
      *ngFor="let productEL of products; let i = index"
      [product]="productEL"
      [index]="i"></app-product-item>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onCashPayment()">Cash Payment</button> |
    <button class="btn btn-success" (click)="onCardPayment()">Card Payment</button>
  </div>
</div>

